<div class="filters">

    <mat-form-field>
        <mat-label>Sort</mat-label>

        <mat-select 
        panelClass="sort-select" 
        [(ngModel)]="sort"
        (selectionChange)="searchGames(sort)"
        >

        <!-- Above ngModel 'sort' is linked to the variable 'sort' inside home.component.ts file -->
        <!-- Its like same memory location shared by ts file variable and form field value  -->

            <mat-option value="name">Name</mat-option>
            <mat-option value="released">Released</mat-option>
            <mat-option value="added">Added</mat-option>
            <mat-option value="created">Created</mat-option>
            <mat-option value="updated">Updated</mat-option>
            <mat-option value="rating">Rating</mat-option>
            <mat-option value="metacritic">Metacritic</mat-option>

        </mat-select>

    </mat-form-field>


</div>


<div class="games">

    <!-- 'games' is a variable in home.component.ts file -->
    <!-- Below written code in double quotes is JS -->
    <ng-container *ngFor="let game of games">

        <div 
        class="game"
        (click) = "openGameDetails(game.id)"
        >

            <!-- We gotta use double brackets to fetch the value inside that variable -->
            <!-- If we don't use double quotes then it would be like referencing parent property which isn't what we are doing here -->
            <div class="game-thumb-container">
                <img 
                *ngIf = "game.background_image"
                src="{{game.background_image}}" 
                alt="thumbnail" 
                class="game-thumbnail" 
                />
                <p *ngIf = "!game.background_image">No Image</p>
            </div>

            <div class="game-description">
                <p class="game-name">{{game.name}}</p>

                <!-- Show all platform Icons -->
                <div class="game-platforms">
                    <img 
                    *ngFor = "let gamePlatform of game.parent_platforms"
                    class="game-platform"
                    src="assets/images/platforms/{{ gamePlatform.platform.slug | lowercase}}.svg"
                    alt="{{ gamePlatform.platform.slug }}"
                    />
                    <!-- lowercase is Builtin pipe | src="assets/images/platforms/{{ gamePlatform.platform.name | lowercase }}.svg"  -->
                    <!-- To use custom pipe a new file has to be created -->
                </div>

            </div>

        </div>

    </ng-container>


</div>